.h-50px {
    height: 50px;
}
.h-100px {
    height: 100px;
}
.h-150px {
    height: 150px;
}
.h-200px {
    height: 200px;
}
.maxh-300px {
    max-height: 300px;
}
.maxh-400px {
    max-height: 400px;
}
.maxh-500px {
    max-height: 500px;
}
.maxw-300px{
    max-width: 300px;
}
.minw-100px{
    min-width: 100px;
}
.minh-300px{
    min-height: 300px;
}
.h-100per{
    height: 100%;
}
.h-5vh{
    height: 5vh;
}
.w-100per{
    width: 100%;
}
.w-100px{
    width: 100px;
}
.w-150px{
    width: 150px;
}
.w-1000px{
    width: 1000px;
}
.w-2000px{
    width: 2000px;
}
.w-full-vw{
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.rank-image{
    width: 75px;
    height: 75px;
}

/* 画面領域が狭い場合もフッターを画面下端へ */
.h-3rem {
    height: 3rem;
}
.footer-fixed{
    min-height: calc(100% - 3rem);
}
html,
body {
  height: 100%;
}

/* nav */
.dropdown:hover>.dropdown-content {
    display: block;
}
